<h2>Create a Order</h2>

<%= form_with(model: [:admin, @product, @order], local: true) do |form| %>

<div>
  <%= form.label :Quantity %><br>
  <%= form.number_field :quantity %>
  <% @order.errors.full_messages_for(:quantity).each do |message| %>
    <%= message %>
  <% end %>  
</div>

<div>
  <%= form.submit %>
</div>

<% end %>
